<h1><%= place.name %></h1>
<p><%= place.description %></p>
<p><%= place.placeType %></p>

<!-- <h3>Average Rating:</h3>
<p><%= averageRating.toFixed(1) %></p> -->

<h3>Location:</h3>
<p><a href="https://www.google.com/maps/search/?api=1&query=<%= place.location.coordinates[0] %>,<%= place.location.coordinates[1] %>"><%= place.name %> on Google Maps</a></p>

<h3>Reviews</h3>
<ul>
  <% place.reviews.forEach(function(review) { %>
    <li>
      <p><%= review.rating %> stars</p>
      <p><%= review.content %></p>
    </li>
  <% }); %>
</ul>
